body {
  padding-top: 60px;
}

#daily-punches .punch {
  position: absolute;
  left: 50px;
  width: 75%;
}

#daily-punches {
  position: relative;
}

.punch .notes {
  border: none;
  font-size: 12px;
  margin: 0px;
  margin-top: -14px;
  padding: 0px;
  background-color: rgba(0,0,0,0);
  color: white;
  outline: none;
  line-height: 12px;
  box-shadow: none;
}

.punch .notes:focus {
  outline: none;
  box-shadow: none;
}
