body { 
  padding-top: 120px; 
}

@media screen and (max-width: 979px) {
  body { padding-top: 0px; }
}

.typeahead {
  /* to get employee dropdown to show in a modal */ 
  z-index:  1051 !important; 
}

.punches {
  position: relative;

  .punch {
    position: absolute;
    display: block-inline; 
    left: 50px;
    width: 85%;
    /*opacity: .6;*/

    background-color: rgba(30,87,153,.6);

    &.label-success {
      background-color: rgba(70,136,71,.6);
    }

    &.label-warning {
      background-color: rgba(248,148,6,.6);
    }


    .punch-controls {
      opacity: 0;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      z-index: 100;
    }

    &:hover {
      .punch-controls {
        opacity: 1;
      }
    }

    .app-info { 
      cursor: pointer;
    }


    .notes {
      border: none;
      font-size: 12px;
      margin: -2px 0px 0px 4px;
      padding: 0px;
      background-color: rgba(0,0,0,0);
      color: white;
      outline: none;
      line-height: 12px;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}


.nav-list .project {
  margin-bottom: 22px;
}

.calendar {
  th, td {
    height: 22px;
    line-height: 11px;
    padding: 0px;
    font-size: 10px;

    &.hour {
      border-top-color: #333333;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .punch {
    padding: .1% 4px;

    -webkit-box-shadow: 2px 2px 5px rgba(70, 70, 70, 0.50);
    -moz-box-shadow:    2px 2px 5px rgba(70, 70, 70, 0.50);
    box-shadow:         2px 2px 5px rgba(70, 70, 70, 0.50);

    @for $i from 1 through 100 {
      &[start="#{$i*.25}"] { 
        top: (1% * $i) + .05%; 
      }

      &[duration="#{$i*.25}"] { 
        height: (1% * $i) - .1%; 
      }
    }
  }
}

.datepicker.dropdown-menu { z-index: 1031; } /* to raise above the navigation bar */

.navbar .btn, .navbar .btn-group {
  margin-top: 0px;
}

#app-calendar tr.work-day td { background-color: whiteSmoke; }

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: #f89406; }
.bullet .measure.s1 { fill: #468847; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

